body{
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color:#E1F9F4 ;
}

.Header {
    background-color: #FAFBFC;
    color: #A6A6A6;
    width: 80vw;
    height: 10%;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
}
#logo{
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 100px;
    margin-top: 50px;
    color: #000;
}
.content {
    display: flex;
    width: 100vw;
    height: 20vh;
    background-color: white;
}

.mainPageContent {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #E1F9F4 ;
    
}

.Form-Content{
    display: flex;
    justify-content: center;
    background-color:#FAFBFC ;
    box-shadow: 3px 3px 3px #ccc;
    height: 86vh;
    width: 82vw;
    margin-top: 2px;
    border-radius: 2px;
}